*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Merriweather", serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Racing Sans One", cursive;
}

#gameBoard {
	position: relative;
	display: grid;
	grid-template-columns: repeat(15, 40px);
	grid-template-rows: repeat(15, 40px);
	gap: 2px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 5px solid rgba(0, 0, 167, 0.5);
	border-radius: 15px;
	padding: 2px;
}

#gameBoard::after {
	content: "";
	position: absolute;
	border: solid 2px rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.gridItem {
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 167, 0.3);
	color: rgb(0, 0, 0);
	font-size: 0.5em;
}

.tripleWord {
	background-color: rgba(255, 65, 65, 0.869);
}

.doubleWord {
	background-color: rgba(255, 174, 202.9);
}

.tripleLetter {
	background-color: rgba(118, 118, 255.9);
}

.doubleLetter {
	background-color: rgba(195, 195, 253.9);
}
