*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Merriweather", serif;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Racing Sans One", cursive;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#boardSection {
	padding: 1em;
}

#gameBoard {
	aspect-ratio: 1/1;
}

#gameBoard {
	position: relative;
	display: grid;
	grid-template-columns: repeat(15, minmax(8px, 40px));
	grid-template-rows: repeat(15, minmax(8px, 40px));
	gap: 2px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 5px solid rgba(0, 0, 167, 0.5);
	border-radius: 0.6em;
	padding: 2px;
}

#gameBoard > * {
	aspect-ratio: 1/1;
}

#gameBoard::after {
	pointer-events: none;
	content: "";
	position: absolute;
	border: solid 2px rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	border-radius: 0.4em;
}

.gridItem {
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(158, 134, 0, 0.2);
	color: rgb(0, 0, 0);
	font-size: 0.5em;
	transition: 0.2s;
}

.gridText {
	pointer-events: none;
	display: none;
}

.gridItem img {
	pointer-events: none;
	max-width: 100%;
}

.tripleWord {
	background-color: rgba(255, 65, 65, 0.9);
}

.doubleWord {
	background-color: rgba(255, 174, 202, 0.9);
}

.tripleLetter {
	background-color: rgba(118, 118, 255, 0.9);
}

.doubleLetter {
	background-color: rgba(195, 195, 253, 0.9);
}

/*********************************TILE**************************************/
#tilesSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#availableTiles {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	padding: 1em;
	width: 100%;
}
.tileDiv {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-family: "Open Sans", sans-serif;
	margin: 0.2em;
	background-color: #e09f3e;
	background-image: url("/images/woodPattern.png");
	box-shadow: 2px 2px 2px #540b0e;
}

.tilePoints {
	position: absolute;
	right: 0.3em;
	bottom: 0.3em;
	font-size: 0.7em;
}

.tileChar {
	margin: 10px;
}

/*********************************DRAG AND DROP**************************************/
.hide {
	display: none;
}

.dragOver {
	transform: rotate(5deg) scale(1.1);
	background-color: #540b0e;
}
